body, h1 {
    margin: 0;
    font-family: 'Tomorrow', sans-serif;
}
header {
    background-color: #80cee1;
}
ul {
    padding: 5px 0;
}
li {
    list-style-type: none;
}
a {
    color: black;
    text-decoration: none;
}
input[type=submit] {
    font-family: 'Tomorrow', sans-serif;
    background-color: lightgreen;
    border: none;
    padding: 2px 6px;
}

/* index page */
.center {
    margin: 0 auto;
}
.center-text {
    text-align: center;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.header-main {
    height: 80px;
}
.header-main h1 {
    padding-top: 20px;
}
#index-main-form {
    width: 80%;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 20px;
}
.index-form-value-input-pair {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5px;
}
.index-employee li {
    width: 100px;
}


/* employee page */
#delete-button {
    background-color: lightcoral;
    padding: 2px 6px;
}
#delete-button:hover {
    cursor: pointer;
}