{% include "header.html" %}

<div>
  <form id="index-main-form" onsubmit="indexFormSubmit(event)">
    {% for field in form_fields %}
      <div class="index-form-value-input-pair">
        <div style="min-width: 125px;">{{ field.label }}:</div>
        <input type="{{ field.type }}" name="{{ field.id }}" {% if field.required %} required {% endif %}>
      </div>
    {% endfor %}
    <div class="center" style="padding-top: 5px;">
      <input type="submit" value="Submit">
    </div>
  </form>
  <div id="index-main-form-response" class="center-text" style="padding-top: 5px;"></div>

  <ul id="index-all-employees" class="center" style="width: 80%; max-width: 300px;">
    <li>
      <ul class="flex-between index-employee" style="font-weight: bold;">
        <li>First Name</li>
        <li>Last Name</li>
        <li>Position</li>
      </ul>
    </li>
    {% for employee in all_employees %}
      <li>
        <ul class="flex-between index-employee">
          <li>{{ employee.first_name }}</li>
          <li>{{ employee.last_name }}</li>
          <li>{{ employee.position }}</li>
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>

{% include "footer.html" %}